:root {
    /* Colors vars */
    --bg: #202020;
    --overlay-bg: #2A2A2A;
    --item-bg: #313131;
    --item-disabled: #3A3A3A;
    --text: #ebebeb;
    --green: #249926;
    --yellow: #d4a01c;
    --red: #d12e2e;
    --green-dark: #1E8220;
    --red-dark: #B22727;
    --yellow-dark: #B48817;
}

#productImages > .carousel-inner {
    height: 30vh;
}
.text-white {
    color: var(--text) !important;
}
.bg-dark {
    background-color: var(--bg) !important;
}
.bg-body {
    background-color: var(--overlay-bg) !important;
}
.bg-body-secondary {
    background-color: var(--item-bg) !important;
}
.bg-body-tertiary {
    background-color: var(--item-disabled) !important;
}
.bg-success {
    background-color: var(--green) !important;
}
.btn-outline-success {
    --bs-btn-color: var(--green);
    --bs-btn-border-color: var(--green);
    --bs-btn-hover-bg: var(--green-dark);
    --bs-btn-hover-color: var(--text);
    --bs-btn-hover-border-color: var(--green-dark)
}
.btn-primary {
    --bs-btn-bg: var(--green);
    --bs-btn-border-color: var(--green);
    --bs-btn-hover-bg: var(--green-dark);
    --bs-btn-hover-border-color: var(--green-dark)
}
.btn-secondary {
    --bs-btn-bg: var(--item-bg);
    --bs-btn-border-color: var(--item-bg);
    --bs-btn-hover-bg: var(--bg);
    --bs-btn-hover-border-color: var(--bg);
}
.btn-danger {
    --bs-btn-bg: var(--red);
    --bs-btn-border-color: var(--red);
}
.text-primary {
    color: var(--green) !important;
}
.alert-warning {
    background-color: transparent;
    border-color: var(--yellow);
    color: var(--yellow);
}
.form-control {
    background-color: var(--item-disabled);
    color: var(--text);
    border-color: var(--item-disabled);
}
.form-control:focus {
    background-color: var(--item-disabled);
    border-color: var(--item-disabled);
    color: var(--text);
}

::placeholder {
    color: var(--text) !important;
}

/* Dynamic background */

.bg-grid {

    /* Dimension of the animation */
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;

    /* Background grid with fading effect */
    background-image:
            linear-gradient(var(--item-bg) 1px, transparent 1px),
            linear-gradient(90deg, var(--item-bg) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: center center;

    mask-image: radial-gradient(ellipse at center, black, transparent 80%);
    -webkit-mask-image: radial-gradient(ellipse at center, black, transparent 80%);
    animation: grid-move 20s linear infinite;
    opacity: 0.6;
}

/* Animation */
@keyframes grid-move {
    0% {
        transform: perspective(500px) rotateX(30deg) translateY(0);
    }
    100% {
        transform: perspective(500px) rotateX(30deg) translateY(50px);
    }
}

/* Top bar shadow */
.navbar {
    border: 1px solid var(--item-disabled) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}
.btn-outline-primary {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--green);
    color: var(--green);
    --bs-btn-hover-bg: var(--green);
    --bs-btn-hover-border-color: transparent;
}
.btn-outline-primary:hover {
    color: var(--text);
}