<!DOCTYPE html>
<html lang="en">
<head>
{{>docHead}}
</head>

<body class="bg-dark min-vh-100 py-2 bg-opacity-75">

    {{>header}}
    <main>
        <!-- Back button -->
        <div class="container d-flex flex-column flex-md-row my-4 p-4 p-md-0">
            <a href="/" class="btn btn-secondary btn-lg flex-grow-1">Back</a>
        </div>
        <div class="container mb-4 pb-4">
            <div class="row justify-content-center">
                <form action="/product/{{#product}}{{id}}/edit{{/product}}{{^product}}new{{/product}}" method="POST" class="col-md-6 text-center" enctype="multipart/form-data">

                    <h4 class="text-white mb-4">
                        {{#product}}
                        Edit product
                        {{/product}}
                        {{^product}}
                        New product
                        {{/product}}
                    </h4>

                    <!-- Where images are uploaded -->
                    <div class="upload-container pb-2">
                        <input type="file" name="imageFiles" id="file-input" accept="image/*" hidden multiple {{^product}}required{{/product}}>
                        <label for="file-input" class="upload-label">
                            <div class="upload-content">
                                <i class="bi bi-plus-square-dotted"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Uploaded images -->
                    <div id="preview-grid" class="my-2 row g-3"></div>
                    <script src="/js/fileUploadPreview.js"></script>

                    <!-- Product name and description -->
                    <div class="my-3">
                    <input type="text" name="title" class="form-control bg-body-secondary" id="exampleFormControlInput1" {{^product}}placeholder="Product name"{{/product}} {{#product}}value="{{name}}"{{/product}} required>
                    </div>
                    <div class="my-3">
                    <textarea class="form-control bg-body-secondary" name="description" id="description-text" rows="5" {{^product}}placeholder="Description"{{/product}} required hidden>{{#product}}{{description}}{{/product}}</textarea>
                    <div id="editor"></div>
                    </div>
                    <div class="my-3">
                        <input type="number" name="price" class="form-control bg-body-secondary" min="0.01" max="100000" step="0.01" {{^product}}placeholder="Price"{{/product}} {{#product}}value="{{price}}"{{/product}} required>
                    </div>
                    <!-- Stock selector -->
                    <div class="my-3 d-flex align-items-center justify-content-between bg-body-secondary p-3 rounded">
                        <label for="stockSelector" class="form-label text-white">Stock</label>
                        <div id="stockSelector" class="d-flex gap-4 text-white align-items-center">
                            <input type="number" name="stock" class="form-control bg-body-secondary" min="1" max="100000" value="{{^product}}1{{/product}}{{#product}}{{stock}}{{/product}}" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <!-- Input button -->
                    <button class="btn btn-primary mb-4" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </main>
    <!--    Load Quill.js interactive editor scripts-->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });
        quill.on('text-change', function () {
            document.getElementById('description-text').value = quill.root.innerHTML;
        });
    </script>
</body>
</html>