<!DOCTYPE html>
<html lang="en">
<head>
{{>docHead}}
</head>

<body class="bg-dark min-vh-100 py-2 bg-opacity-75">

{{>header}}

    <main>

        <div class="d-flex flex-md-row flex-column flex-wrap ">
            {{>adminNav}}
            
            <!-- Admin user -->
            <div class="col-md-2 mx-4 my-5 col-10  align-self-center align-self-md-start">
                {{#user}}
                <div class="card shadow-sm bg-body-secondary rounded-5 border border-2 border-secondary">
                    <img src="{{#image}}/images/{{id}}{{/image}}{{^image}}{{/image}}" class="rounded-circle mx-3 my-3" alt="product Pthoto" onerror="this.src='/assets/user.jpg';">
                    <div class="card-body text-white">
                        <h4>ID: {{id}}</h4>
                        <h5 class="card-title">{{username}}</h5>
                        <p class="card-text">{{email}}</p>
                    </div>
                </div>
                {{/user}}
            </div>

        </div>
    </main>
</body>
</html>