<div class="bg-grid"></div>

<header class="bg-transparent">

    <!-- Medium devices navbar -->
    <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom rounded-5 d-none d-md-block">
        <div class="container-fluid d-flex flex-row flex-nowrap justify-content-between align-items-center px-4">

            <!-- Logo Image -->
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="/assets/logo.png" alt="Logo" width="150" height="40">
            </a>

            <form class="d-flex me-4" role="search" action="/index">

                <!-- Search bar -->
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" {{#search}} value="{{search}}" {{/search}}/>
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                <input type="hidden" name="_csrf" value="{{token}}">

            </form>
            {{^user}}
            <!-- Log in or sign up -->
            <div class="justify-content-end d-flex flex-row flex-nowrap">
                <a href="/login">
                    <button type="button" class="btn btn-outline-primary rounded-end-0 rounded-5 {{#showLogin}}active{{/showLogin}}">Log in</button>
                </a>
                <a href="/register">
                    <button type="button" class="btn btn-outline-primary rounded-start-0 rounded-5 {{#showRegister}}active{{/showRegister}}">Sign up</button>
                </a>
            </div>
            {{/user}}
            {{#user}}
            <!-- User Image -->
            <div class="justify-content-end h-75">
                <button class="btn btn-secundary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="{{#image}}/images/{{id}}{{/image}}{{^image}}{{/image}}" alt="user image" onerror="this.src='/assets/user.jpg';"
                         class="img-fluid rounded-circle" style="height: 2em;">
                </button>

                <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                     aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header bg-body text-white">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>

                    </div>
                    <div class="offcanvas-body bg-body d-flex flex-column">
                        <img src="{{#image}}/images/{{id}}{{/image}}{{^image}}{{/image}}" alt="user image" onerror="this.src='/assets/user.jpg';"
                             class="rounded-circle align-self-center" width="150" height="150">
                        <div class="d-flex flex-row flex-wrap justify-content-center">
                            <a class="text-decoration-none text-white" href="/"><i class="bi bi-house"></i>
                                Home</a>
                            <a class="text-decoration-none text-white" href="/product/new"><i class="bi bi-plus-circle"></i> Add
                                product</a>
                            <a class="text-decoration-none text-white" href="/cart"><i class="bi bi-cart2"></i> Shopping
                                cart</a>
                            <a class="text-decoration-none text-white" href="/user/{{id}}"><i class="bi bi-person-circle"></i>
                                Show profile</a>
                            {{#isAdmin}}
                            <a class="bi bi-wrench link-success nav-link" href="/admin/{{id}}"> Admin panel</a>
                            {{/isAdmin}}
                            <form action="/logout" method="post" class="mt-auto">
                                <input type="hidden" name="_csrf" value="{{token}}">
                                <button type="submit" class="btn btn-link text-decoration-none text-danger py-2 w-100 text-start p-0">
                                    <i class="bi bi-box-arrow-right"></i> Log out
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/user}}
        </div>
    </nav>

    <!-- Mobile navbar -->
    <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom rounded-5 d-md-none">
        <div class="container-fluid d-flex flex-column justify-content-between align-items-center px-4">

            <!-- Logo Image -->
            <div class="flex-fill " style="max-width: 750px;">
                <a class="navbar-brand" href="/">
                    <img src="/assets/logo.png" alt="Logo" width="150" height="40">
                </a>
            </div>

            <div class="d-flex justify-content-between align-items-center flex-fill">


                <form class="d-flex me-4" role="search" action="/index">
                    <!-- Search bar -->
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" {{#search}}value="{{search}}"{{/search}}/>
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    <input type="hidden" name="_csrf" value="{{token}}">
                </form>
            </div>
        </div>
    </nav>

    <!-- Mobile bottom navbar -->
    <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom fixed-bottom rounded-5 d-md-none">
        {{#user}}
        <!-- Logged-in user -->
        <div class="container-fluid d-flex flex-row justify-content-between align-items-center px-4">
            <a class="btn btn-secondary" href="/index" role="button"><i class="bi bi-house"></i></a>
            <a class="btn btn-secondary" href="/product/new" role="button"><i class="bi bi-plus-circle"></i></a>
            <a class="btn btn-secondary" href="/cart" role="button"><i class="bi bi-cart2"></i></a>
            {{#admin}}
            <a class="btn btn-secondary link-success" href="/admin/{{id}}" role="button"><i
                    class="bi bi-wrench"></i></a>
            {{/admin}}
            <a class="btn btn-secondary" href="/user/{{id}}" role="button"><i class="bi bi-person-circle"></i></a>
            <form action="/logout" method="post" class="mt-auto">
                <input type="hidden" name="_csrf" value="{{token}}">
                <button type="submit" class="btn btn-link text-decoration-none text-danger py-2 w-100 text-start p-0">
                    <i class="bi bi-box-arrow-right"></i> Log out
                </button>
            </form>
        </div>
        {{/user}}
        {{^user}}
        <!-- User not logged in -->
        <div class="container-fluid justify-content-between d-flex flex-row flex-nowrap align-items-center ">
            <a class="btn btn-secondary btn-lg ms-3" href="/" role="button"><i class="bi bi-house"></i></a>
            <div class="md-3">
                <a href="/login">
                    <button type="button" class="btn btn-primary btn-lg rounded-end-0 rounded-5">Log in</button>
                </a>
                <a href="/login">
                    <button type="button" class="btn btn-outline-primary btn-lg rounded-start-0 rounded-5 ">Sign up
                    </button>
                </a>
            </div>
        </div>
        {{/user}}
    </nav>


</header>