<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="plantilla.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>CanaryShop</title>
</head>
<body class="bg-dark min-vh-100 py-2 bg-opacity-75">

    <!-- Dinamic Background -->
    <div class="bg-grid"></div>

    <header class="bg-transparent">

        <!-- Medium devices navbar -->
        <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom rounded-5 d-none d-md-block">
            <div class="container-fluid d-flex flex-row flex-nowrap justify-content-between align-items-center px-4">

                <!-- Logo Image -->
                <a class="navbar-brand" href="index">
                    <img class="img-fluid" src="logo.png" alt="Logo" width="150" height="40">
                </a>

                <form class="d-flex me-4" role="search">
                    <!-- Categories button -->
                    <button class="btn btn-secondary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesMenu">
                        <i class="bi bi-list"></i>
                    </button>
                    <!-- Search bar -->
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>

                </form>

                <!-- Log in or sign up -->
                <div class="justify-content-end d-flex flex-row flex-nowrap">
                    <a href="iniciosesion"><button type="button" class="btn btn-primary rounded-end rounded-5">Log in</button></a>
                    <a href="iniciosesion"><button type="button" class="btn btn-outline-primary rounded-start rounded-5">Sign up</button></a>
                </div>

                <!-- User Image -->
                <div class="justify-content-end hidden">
                    <button class="btn btn-secundary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <img src="userImage" alt="user image" onerror="this.src='logo2.png';" class="img-fluid rounded-circle" width="45" height="35">
                    </button>

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header bg-body text-white">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                        </div>
                        <div class="offcanvas-body bg-body d-flex flex-column">
                            <img src="userImage" alt="user image" onerror="this.src='user.jpg';" class="rounded-circle align-self-center" width="150" height="150">
                            <a class="text-decoration-none text-white" href="index"><i class="bi bi-house"></i><t></t>    Home</a>
                            <a class="text-decoration-none text-white" href="addSale"><i class="bi bi-plus-circle"></i>    Add product</a>
                            <a class="text-decoration-none text-white" href="carrito"><i class="bi bi-cart2"></i>    Shopping cart</a>
                            <a class="text-decoration-none text-white" href="usuario"><i class="bi bi-person-circle"></i>    Show profile</a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <!-- Mobile navbar -->
        <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom rounded-5 d-md-none">
            <div class="container-fluid d-flex flex-column justify-content-between align-items-center px-4">

                <!-- Logo Image -->
                <div class="flex-fill " style="max-width: 750px;">
                    <a class="navbar-brand" href="index">
                        <img src="logo.png" alt="Logo" width="150" height="40">
                    </a>
                </div>

                <div class="d-flex justify-content-between align-items-center flex-fill">


                    <form class="d-flex me-4" role="search">
                        <!-- Categories button -->
                        <button class="btn btn-secondary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesMenu">
                            <i class="bi bi-list"></i>
                        </button>
                        <!-- Search bar -->
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>

                    </form>
                </div>
            </div>
        </nav>

        <!-- Categories -->
        <div class="collapse mx-4 bg-body-secondary rounded-top rounded-5" id="categoriesMenu">
            <div class="p-4">
                <h5 class="h4 text-white">Categorías</h5>
                <div class="d-flex flex-row flex-wrap align-items-center text-white">
                    <div class="p-2"><a href="#" class="nav-link">Hardware</a></div>
                    <div class="p-2"><a href="#" class="nav-link">Software</a></div>
                    <div class="p-2"><a href="#" class="nav-link">Microcontroller</a></div>
                    <div class="p-2"><a href="#" class="nav-link">Peripherals</a></div>
                    <div class="p-2"><a href="#" class="nav-link">Hacking</a></div>
                </div>
            </div>
        </div>

        <!-- Mobile bottom navbar -->
        <nav class="navbar mx-4 bg-body navbar-dark rounded-bottom fixed-bottom rounded-5 d-md-none">
            <!-- Logged-in user -->
            <div class="container-fluid d-flex flex-row justify-content-between align-items-center px-4 hidden">
                <a class="btn btn-secondary" href="index" role="button"><i class="bi bi-house"></i></a>
                <a class="btn btn-secondary" href="addSale" role="button"><i class="bi bi-plus-circle"></i></a>
                <a class="btn btn-secondary" href="carrito" role="button"><i class="bi bi-cart2"></i></a>
                <a class="btn btn-secondary link-success hidden" href="adminDashboard" role="button"><i class="bi bi-wrench"></i></a>
                <a class="btn btn-secondary" href="usuario" role="button"><i class="bi bi-person-circle"></i></a>
            </div>
            <!-- User not logged in -->
            <div class="container-fluid justify-content-between d-flex flex-row flex-nowrap align-items-center ">
                <a class="btn btn-secondary btn-lg ms-3" href="index" role="button"><i class="bi bi-house"></i></a>
                <div class="md-3">
                    <a href="iniciosesion"><button type="button" class="btn btn-primary btn-lg rounded-end rounded-5">Log in</button></a>
                    <a href="iniciosesion"><button type="button" class="btn btn-outline-primary btn-lg rounded-start rounded-5 ">Sign up</button></a>
                </div>
            </div>
        </nav>

    </header>
    
        <main class="container d-flex justify-content-center align-items-center mt-3 pt-2" style="min-height: 80vh;">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card bg-dark text-white border-secondary shadow-lg rounded-4">
            <div class="card-body p-5">
                <!--Log in and Sign in buttons-->
                <ul class="nav nav-pills nav-justified mb-4" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a href="/login" class="nav-link {{#showLogin}}active{{/showLogin}} text-white">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link {{#showRegister}}active{{/showRegister}} text-white">Sign up</a>
                    </li>
                </ul>
                
                <div class="tab-content" id="pills-tabContent">
                    <!--Log in-->
                    {{#showLogin}}
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control bg-dark text-white" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control bg-dark text-white" placeholder="••••••••">
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary" type="submit">Log in</button>
                            </div>
                        </form>
                    </div>
                    {{/showLogin}}
                    <!--Sign in-->
                    {{#showRegister}}
                    <div class="tab-pane fade show active" id="pills-register" role="tabpanel">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control bg-dark bg-opacity-25 text-white" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control bg-dark bg-opacity-25 text-white" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control bg-dark bg-opacity-25 text-white" placeholder="••••••••">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm password</label>
                                <input type="password" class="form-control bg-dark bg-opacity-25 text-white" placeholder="••••••••">
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary" type="submit">Create account</button>
                            </div>
                        </form>
                    </div>
                    {{/showRegister}}
                </div>

            </div>
        </div>
    </div>
</main>
</body>
</html>