<!DOCTYPE html>
<html lang="en">
<head>
    {{>docHead}}
</head>
<body class="bg-dark min-vh-100 py-2 bg-opacity-75">

{{>header}}
    <main>
        <!-- Back Button -->
        <div class="container d-flex flex-column flex-md-row my-4 p-4 p-md-0">
            <a href="/" class="btn btn-secondary btn-lg flex-grow-1"> Back</a>
        </div>
        {{#product}}
        <!-- Product Content -->
        <div class="container d-flex flex-column align-items-center my-4 p-4 rounded-3">
            <!-- Product Images -->
            <div id="productImages" class="carousel slide align-self-center w-100 p-3">
                <div class="carousel-indicators">
                    {{#productImages}}
                    <button type="button" data-bs-target="#productImages" data-bs-slide-to="{{indexInList}}" {{#-first}}aria-current="true" class="active"{{/-first}}>
                    {{/productImages}}
                </div>
                <div class="carousel-inner d-flex rounded">
                    {{#productImages}}
                    <div class="carousel-item {{#-first}}active{{/-first}} h-100">
                        <img class="h-100 rounded d-block mx-auto" src="/images/{{id}}">
                    </div>
                    {{/productImages}}
                </div>
                <button class="carousel-control-prev bg-body-secondary rounded align-self-center p-3" type="button" style="width: fit-content; height: fit-content;" data-bs-target="#productImages" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next bg-body-secondary rounded align-self-center p-3" type="button" style="width: fit-content; height: fit-content;" type="button" data-bs-target="#productImages" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            <!-- Product Title & Price -->
            <div class="d-flex flex-md-row flex-column align-items-center">
                <h3 class="display-3 text-white">{{name}}</h3>
                <div class="rounded text-white bg-success ms-3 p-2">
                    <h2 class="m-0">{{formattedPrice}}€</h2>
                </div>
            </div>
            <!-- Product Rating -->
            <span class="my-2">
                <span class="text-primary entity-rating" rating="{{rating}}"></span>
                <span class="text-white"> ({{formattedRating}})</span>
            </span>
            <!-- Vendor -->
            <h4  class="text-white">Sold by: <a href="/user/{{vendor.id}}" class="link-light link-opacity-75-hover link-underline link-underline-opacity-0">{{vendor.username}} <i class="bi bi-person-circle"></i></a></i></h4>
            <!-- Product Stock -->
            <h6 class="text-white">
                {{stock}}
                in stock
            </h6>
            <!-- Buy Buttons -->
            <div class="my-2 d-flex flex-row gap-3">
                {{^canEditProduct}}
                    <a href="/payment"><button class="btn btn-primary btn-lg">Buy Now</button></a>
                    {{#product}}
                        <form action="/cart/increase/{{id}}" method="post" style="display:inline;">
                            <input type="hidden" name="_csrf" value="{{token}}">
                            <button type="submit" class="btn btn-secondary btn-lg">Add to Cart</button>
                        </form>
                    {{/product}}
                {{/canEditProduct}}
                {{#canEditProduct}}
                <form method="post" action="/product/{{id}}/delete">
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <button class="btn btn-danger btn-lg" type="submit">
                        <i class="bi bi-x-lg"> </i>
                        Delete
                    </button>
                </form>
                <a class="btn btn-secondary btn-lg" href="/product/{{id}}/edit">
                    <i class="bi bi-pencil-square"> </i>
                    Edit
                </a>
                {{/canEditProduct}}
            </div>
            <!-- Product Description -->
            <h2 class="text-white">Product description:</h2>
            <div class="text-white bg-body rounded-3 my-4 w-100">
                <p class="my-4 mx-4">
                    {{description}}
                </p>
            </div>
            <!-- Report button-->
            {{^canEdit}}
            <button type="button" class="btn  btn-danger mt-4" data-bs-toggle="collapse" data-bs-target="#reportContainer" aria-expanded="false" aria-controls="reportContainer">
                <i class="bi bi-flag-fill"></i> Report
            </button>
            <div class="colapse w-100 mt-4" id="reportContainer">
                <form class="d-flex flex-column w-100" action="/product/{{product.id}}/report" method="post">
                    <textarea class="form-control mb-2" placeholder="Describe el motivo del reporte..." rows="5" name="report" required></textarea>
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <button type="submit" class="btn btn-sm btn-primary align-self-center">Enviar Reporte</button>
                </form>
            </div>
            {{/canEdit}}
            <!-- Reviews -->
            <h2 class="text-white my-4">Product reviews:</h2>
            <div class="container d-flex flex-column align-items-center p-0 gap-3">
                {{^user}}
                <!-- Guest User Alert -->
                <div class="alert alert-warning w-100" role="alert">
                    You need to be logged in to publish a review.
                </div>
                {{/user}}
                {{#user}}
                <!-- Non-bought Article Alert -->
                <div class="alert alert-warning w-100" role="alert">
                    You need to buy the product to publish a review.
                </div>
                <!-- Review form -->
                {{^userReview}}
                <form action="/product/{{product.id}}/review/{{^edit-review}}new{{/edit-review}}{{#edit-review}}{{product.id}}/edit{{/edit-review}}" id="reviewForm" method="post" enctype="multipart/form-data" class="text-white container bg-body rounded p-4">
                    <!-- Review title  -->
                    <div class="my-2">
                        <label for="reviewTitle" class="form-label">Review title</label>
                        <input type="text" name="title" id="reviewTitle" class="form-control" required {{#edit-review}}value="{{name}}"{{/edit-review}}>
                    </div>
                    <!-- Review rating -->
                    <div class="my-2">
                        <label for="reviewStars" class="form-label">Rating</label>
                        <div id="reviewStars" class="d-flex gap-1">
                            <div class="form-check form-check-inline m-0 p-0">
                                <input type="radio" class="btn-check star" name="stars" value="1" id="star1" autocomplete="off" required>
                                <label for="star1" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                            </div>
                            <div class="form-check form-check-inline m-0 p-0">
                                <input type="radio" class="btn-check star" name="stars" value="2" id="star2" autocomplete="off" required>
                                <label for="star2" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                            </div>
                            <div class="form-check form-check-inline m-0 p-0">
                                <input type="radio" class="btn-check star" name="stars" value="3" id="star3" autocomplete="off" required>
                                <label for="star3" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                            </div>
                            <div class="form-check form-check-inline m-0 p-0">
                                <input type="radio" class="btn-check star" name="stars" value="4" id="star4" autocomplete="off" required>
                                <label for="star4" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                            </div>
                            <div class="form-check form-check-inline m-0 p-0">
                                <input type="radio" class="btn-check star" name="stars" value="5" id="star5" autocomplete="off" required>
                                <label for="star5" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                            </div>
                        </div>
                    </div>
                    <!-- Review content -->
                    <div class="my-2">
                        <label for="reviewBody" class="form-label">Content</label>
                        <textarea id="reviewBody" name="description" class="form-control" required>{{#edit-review}}{{description}}{{/edit-review}}</textarea>
                    </div>
                    <!-- Review files -->
                    <label class="form-label">Attachments</label>
                    <div class="container-fluid px-0">
                        <div class="pb-2">
                            <input type="file" id="file-input" name="imageFiles" accept="image/*" hidden multiple>
                            <label for="file-input" class="upload-label h-100 rounded">
                                <div class="upload-content d-flex align-items-center">
                                    <i class="bi bi-plus-square-dotted"></i>
                                </div>
                            </label>
                        </div>
                        <div id="preview-grid" class="my-2 row g-3"></div>
                        <script src="/js/fileUploadPreview.js"></script>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <button class="btn btn-primary my-2 mx-1" type="submit">Send</button>
                    <button class="btn btn-danger my-2" type="reset">Cancel</button>
                </form>
                <script src="/js/formStarHandler.js"></script>
                {{/userReview}}
                {{#userReview}}
                <div class="card text-white bg-body w-100">
                    <div class="card-body">
                        <h5 class="card-title mb-2">{{name}}</h5>
                        <span class="text-primary entity-rating" rating="{{rating}}">
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <div class="d-flex flex-column gap-2">
                            <p class="card-text flex-grow-1">{{description}}</p>
                            <div class="d-flex flex-row gap-2">
                                {{#images}}
                                <div style="height: 10em; width: 10em;">
                                    <img class="rounded" style="height: 10em; object-fit: cover;" src="/images/{{id}}">
                                </div>
                                {{/images}}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center gap-4 py-3">
                        <a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover" href="/user/{{id}}"><h5 class="m-0"><i class="bi bi-person-circle mx-2"></i>{{username}}</h5></a>
                        <a class="btn btn-secondary" href="/product/{{product.id}}/review/{{id}}/edit"><i class="bi bi-pencil-square"></i> Edit</a>
                        <form action="/product/{{product.id}}/review/{{id}}/delete" method="post">
                            <button class="btn btn-danger" type="submit"><i class="bi bi-x-lg"> </i>Delete</button>
                            <input type="hidden" name="_csrf" value="{{token}}">
                        </form>
                    </div>
                </div>
                {{/userReview}}
                {{/user}}
                {{#productReviews}}
                <div class="card text-white bg-body w-100">
                    <div class="card-body">
                        <h5 class="card-title mb-2">{{name}}</h5>
                        <span class="text-primary entity-rating" rating="{{rating}}"></span>
                        <div class="d-flex flex-column gap-2">
                            <p class="card-text flex-grow-1">{{description}}</p>
                            <div class="d-flex flex-row gap-2">
                            {{#images}}
                            <div style="height: 10em; width: 10em;">
                                <img class="rounded" style="height: 10em; object-fit: cover;" src="/images/{{id}}">
                            </div>
                            {{/images}}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center gap-4 py-3">
                        {{#author}}
                        <a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover" href="/user/{{id}}"><h5 class="m-0"><i class="bi bi-person-circle mx-2"></i>{{username}}</h5></a>
                        {{/author}}
                        {{^author}}
                        <a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover" href="/"><h5 class="m-0"><i class="bi bi-person-circle mx-2"></i>Anonymous</h5></a>
                        {{/author}}
                        {{#isAdmin}}
                        <a class="btn btn-secondary" href="/product/{{product.id}}/review/{{id}}/edit"><i class="bi bi-pencil-square"></i> Edit</a>
                        <form action="/product/{{product.id}}/review/{{id}}/delete" method="post">
                            <button class="btn btn-danger" type="submit"><i class="bi bi-x-lg"> </i>Delete</button>
                            <input type="hidden" name="_csrf" value="{{token}}">
                        </form>
                        {{/isAdmin}}
                    </div>
                </div>
                {{/productReviews}}
                {{^reviews}}
                <div class="alert alert-info w-100" role="alert">
                    No reviews yet.
                </div>
                {{/reviews}}
            </div>
        </div>
        {{/product}}
    </main>
    <script src="/js/entityStars.js"></script>
</body>
</html>