<!DOCTYPE html>
<html lang="en">
<head>
    {{>docHead}}
</head>

<body class="bg-dark min-vh-100 py-2 bg-opacity-75">

{{>header}}
    <main>
        <div class="container-fluid py-4 mb-4 px-4">
            <div class="row row-cols-1 row-cols-md-3 justify-content-between align-items-center align-items-md-start">
                <!-- User data -->
                {{#user}}
                <div class="col col-md-auto d-flex flex-column align-items-center">
                    <!--User image-->
                       <form action="/user/{{id}}/image" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
    
                            <label for="file-input" style="cursor: pointer;" title="Haz clic para cambiar tu foto">
                                <img {{#image}}src="/images/{{id}}"{{/image}} {{^image}}src="/assets/user.jpg"{{/image}} 
                                    alt="Foto de perfil" class="rounded-circle d-block border border-secondary" width="200" height="200">
                            </label>
                            
                            <input type="file" id="file-input" name="image" accept="image/*" hidden onchange="this.form.submit()">
                        </form>
                        
                    <!--User info-->
                    <div class="card shadow-lg bg-body mt-4 rounded-5 text-white border-0">
                        <div class="card-body">

                            {{#canEdit}}
                            <form action="/user/{{id}}/edit" method="post" class="d-flex flex-column align-items-center mb-3">
                                <input type="text" class="form-control text-center bg-transparent text-white border-0 shadow-none" name="userName" value="{{username}}" required>
                                <input type="email" class=" form-control text-center text-white-50 bg-transparent border-0 shadow-none" name="email" value="{{email}}" required>
                                <button type="submit" class="btn btn-secondary mt-3 btn border-0"><i class="bi bi-pencil-square"></i> Edit</button>
                            </form>


                            <form action="/user/{{id}}/delete" method="post" class="mt-2 w-100" onsubmit="return confirm('¿Estás seguro de que quieres borrar tu cuenta? Esta acción eliminará todos tus productos y no se puede deshacer.')">
                                <button type="submit" class="btn btn-outline-danger btn-sm border-0 w-100">
                                    <i class="bi bi-trash"></i> Delete Account
                                </button>
                            </form>
                            {{/canEdit}}
                            {{^canEdit}}
                            <form action="/user/{{id}}/edit" method="post" class="d-flex flex-column align-items-center">
                                <h2 type="text" class="form-control text-center bg-transparent text-white border-0 shadow-none" >{{username}}</h2>
                                <h2 type="email" class=" form-control text-center text-white-50 bg-transparent border-0 shadow-none" >{{email}}</h2>
                            </form>
                            {{/canEdit}}
                        </div>
                        <div class="card-footer bg-body-secondary rounded-top rounded-5 d-flex justify-content-around py-3">
                            <div class="text-center">
                                <div id="reviewStars" class="d-flex gap-1 align-items-center">
                                    <div class="form-check form-check-inline m-0 p-0">
                                        <input type="radio" class="btn-check" id="star1" autocomplete="off">
                                        <label for="star1" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star-fill"></i></label>
                                    </div>
                                    <div class="form-check form-check-inline m-0 p-0">
                                        <input type="radio" class="btn-check" id="star2" autocomplete="off">
                                        <label for="star2" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star-fill"></i></label>
                                    </div>
                                    <div class="form-check form-check-inline m-0 p-0">
                                        <input type="radio" class="btn-check" id="star3" autocomplete="off">
                                        <label for="star3" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star-fill"></i></label>
                                    </div>
                                    <div class="form-check form-check-inline m-0 p-0">
                                        <input type="radio" class="btn-check" id="star4" autocomplete="off">
                                        <label for="star4" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star-half"></i></label>
                                    </div>
                                    <div class="form-check form-check-inline m-0 p-0">
                                        <input type="radio" class="btn-check" id="star5" autocomplete="off">
                                        <label for="star5" class="btn btn-link btn-lg p-0 border-0 text-primary"><i class="bi bi-star"></i></label>
                                    </div>
                                    (3.7)
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Report button-->
                <button class="btn  btn-danger mt-4 "><i class="bi bi-flag-fill"></i> Report</button>
                <div class="mt-4 d-flex flex-column w-100 hidden">
                    <textarea class="form-control mb-2" placeholder="Describe el motivo del reporte..." rows="5"></textarea>
                    <button type="submit" class="btn btn-sm btn-primary align-self-center">Enviar Reporte</button>
                </div>
                </div>
                
                {{/user}}
                <!-- User product container -->
                <div class="col d-flex flex-column gap-4 align-items-center flex-fill">
                    <h5 class="display-5 text-white">Recent Products</h5>
                    <!-- Products -->
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly w-100 gap-2">
                        {{#products}}
                        <a href="/product/{{id}}" class="text-decoration-none bg-body card border-dark border-opacity-75 rounded-5 overflow-hidden">
                            <div class="card shadow-sm bg-body align-items-center flex-grow-1">
                                {{#productImages}}{{#-first}}
                                    <img class="img-fluid" src="/images/{{id}}" alt="product Photo" onerror="this.src='/assets/logo2.png'" width="200" height="200">
                                {{/-first}}{{/productImages}}
                                <div class="card-body text-white">
                                    <h5 class="card-title">{{name}}</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </a>
                        {{/products}}
                    </div>
                    <a class="btn btn-primary" href="/user/{{user.id}}/products">See all products</a>
                </div>
                <div class="col col-md-auto nav flex-md-column flex-row justify-content-around align-items-md-end">
                    <a class="bi bi-house text-white link-light nav-link" href="/index"> Home</a>
                    <a class="bi bi-cart text-white link-light nav-link" href="/cart"> Cart</a>
                    <a class="bi bi-heart link-light nav-link" href="#"> Favourites</a>
                    <a class="bi bi-plus link-light nav-link" href="/product/new"> Add product</a>
                    <a class="bi bi-code-slash link-success nav-link hidden" href="/admin"> Admin panel</a>
                    <a class="link-danger nav-link bi bi-box-arrow-left" href="#"> Log out</a>
                </div>
            </div>
            <div class="col d-flex flex-column gap-4 align-items-center flex-fill">
                    <h5 class="display-5 text-white">Orders</h5>
                    <!-- Products -->
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly w-100 gap-2">
                        {{#orders}}
                        <a href="producto" class="text-decoration-none bg-body card border-dark border-opacity-75 rounded-5 overflow-hidden">
                            <div class="card shadow-sm bg-body align-items-center flex-grow-1">
                                {{#productImages}}{{#-first}}
                                    <img class="img-fluid" src="/images/{{id}}" alt="product Photo" onerror="this.src='/assets/logo2.png'" width="200" height="200">
                                {{/-first}}{{/productImages}}
                                <div class="card-body text-white">
                                    <h5 class="card-title">{{name}}</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </a>
                        {{/orders}}
                    </div>
        </div>
    </main>